<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73966941107-v2j50vnn80ofl8kar0084cub7cudpi6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73966941107-v2j50vnn80ofl8kar0084cub7cudpi6m</string>
	<key>API_KEY</key>
	<string>AIzaSyDVb3XYFECaf6Qu_RiyOvc7Lo67n_IVtQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>73966941107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>firestore-tutorial-43e52</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-tutorial-43e52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73966941107:ios:1e78c10e1fd2bc7151d1c6</string>
</dict>
</plist>